{% extends 'catalog/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="col-12 mb-5">
        <div class="row text-center">
            <h3 class="my-0 font-weight-normal">Категории</h3>
            {% for object in object_list %}
            <div class="col-3">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h5 class="my-0 font-weight-normal">{{ object.category_name }}:</h5>
                        <hr>
                        <h5 class="my-0 font-weight-normal">{{ object.category_description }}</h5>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
